name: Pytest and pre-commit

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install the dependencies and project
        run: uv sync --locked --all-extras --dev

      - name: Unit tests
        run: pytest tests

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install the dependencies and project
        run: uv sync --locked --all-extras --dev

      - name: Run Precommit
        uses: pre-commit/action@v3.0.0
